<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>457023964978-90h91gpgbnv7ke1rfq6af023j5moclvt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.457023964978-90h91gpgbnv7ke1rfq6af023j5moclvt</string>
	<key>API_KEY</key>
	<string>AIzaSyDSFVWC9rXprXnUzNkc2WLkGwERHBoMUf0</string>
	<key>GCM_SENDER_ID</key>
	<string>457023964978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hack.Hackathon</string>
	<key>PROJECT_ID</key>
	<string>hackathon-61a14</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-61a14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:457023964978:ios:98f74a7a0cb945ff</string>
	<key>DATABASE_URL</key>
	<string>https://hackathon-61a14.firebaseio.com</string>
</dict>
</plist>